* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(52 152 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: 10px;
    font-size: 40px;
    color: white;
}

#search {
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 5px grey;
}