 body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;

}

.navbar {
    display: flex;
    position: fixed;
    top: 0; 
    right:0;
    left :0;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px 0px 300px;
    background: black;
    color: white;
}

.nav-links {
    display: flex;
    gap: 75px;
    
}

.nav-links a {
    
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    min-height: 6px;
    flex-wrap: wrap;
}

.hero-text {
     margin: 450px 0px 0px 450px;
     font-size: 75px;
    
}

.hero-text h2 span {
    color: rgb(244, 114, 182);
}

.hero-photo {
    border-color:rgb(219, 39, 119 );
    border-width: 10px;
    border-style: solid;
    margin-top: 500px;
    margin-right: 450px;
    width: 750px;
    border-radius: 10px;
    
}
/* ABOUT SECTION */
.about {
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(33, 37, 41);
    color:  white;
    font-size: 50px;
    padding-left: 450px;
    margin-top: 150px;
    margin-left: -5px;
    font-family: bold;
}
.about h2{
    color:rgb(244, 114, 182);
}
/* PROJECT GRID (CSS Grid) */
.projects {
    padding: 30px;
    font-size: 50px;
}
.card h3{
    color:rgb(244, 114, 182);
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns:  1fr 1fr 1fr;
}

.card {
    background: rgb(33, 37, 41);
    padding: 24px;
    border-radius: 8px;
}
/* CONTACT FOOTER */
.footer {
    margin-top: 50px;
    background:rgb(33, 37, 41);
    color: white;
    padding: 32px;
    text-align: center;
    font-size: 65px;
}

.footer ul {
    list-style: none;
    margin: 16px 0px;
}

.footer li {
    margin: 5px 0px;
}

.footer a {
    color: rgb(57, 57, 210);
}

